h1 a {
    color: #2E8B57;
    font-family: "cursive";
}

<style>
.jumbotron {
    background-color: #f4511e; /* Orange */
    color: #ffffff;
}
</style>

.page-header {
    background-color: #FFA07A;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
