
{% extends "biz/base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="container-fluid text-center">
      <div class="row content">
        <div class="col-sm-2 sidenav">

          <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">State
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
                </ul>
          </div>
          <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Business
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                  <li><a href="#">JavaScript</a></li>
                </ul>
          </div>

          </div>

        <div class="col-sm-8 text-left">
          <form class="form-inline  text-center">
            <input type="text" class="form-control" size="50" placeholder="Search ...">
            <button type="button" class="btn btn-danger">Search!</button>
          </form>
        </div>

        <div class="col-sm-2 sidenav">

          <div class="well">
              {% for b in bizs %}
              <p> <b>{{ b.name | title}} </b> </p>
              <p>  Address: {{ b.address | title}}</p>
              <p>  City: {{ b.city| title}}</p>
              <p>  State: {{b.state|title}}</p>
              <p>  Tel: {{b.telephone }}</p>
              <p>  URL: {{b.url }}</p>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>




{% endblock %}
